<%- include('partials/header') -%>



    <body class="announcement-body-page">
        <main>

        </main>
        <% if (user.role==='null' ) { } else if(user.role==='Student' ) {%>

            <h1 class="announcement-text">Announcements</h1>
            <div class="announcement-container">
                <form id="anouncementspage" method="POST" action="./Announcements">
                    <table class="announcement-list">
                        <tbody>
                            <% for( var x=0; x < announ.length; x++){ %>
                            <tr>
                                <td>
                                   <%= announ[x].type %> Event
                                </td>

                                <th rowspan="2" class="detail-announcement"> <%= announ[x].title %></th>
                                <th rowspan="2" class="announcement-going">
                                    <button type="submit" class="going-button" value="going">Going</button>
                                </th>
                            </tr>
                            <tr>
                                <td class="announcement-color">
                                    <%= announ[x].backgroundColor %>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>

                    </table>
                </form>
            </div>

            <%} else if (user.role==='RA' ) {%>
                <h1>Announcements Page</h1>
                <div class="announcementList">
                    
                        <table>
                            <tbody>
                                <% for( var x=0; x < announ.length; x++){ %>
                                    <form id="anouncementsRa" method="POST" action="/RA/<%= announ[x].eventId%>/going"></form>
                                    <tr>
                                        <td>
                                           <%= announ[x].type %> Event
                                        </td>
        
                                        <th rowspan="2" class="detail-announcement"> <%= announ[x].title %></th>
                                        <th rowspan="2" class="announcement-going">
                                            <button type="submit" class="going-button" value="going">Going</button>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td class="announcement-color">
                                            <%= announ[x].backgroundColor %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <form>
                                            <button type="submit" formmethod="GET" formaction="/RA/<%= announ[x].eventId%>/edit">Edit</button>
                                            <button type="submit" formmethod="POST" formaction="/RA/<%= announ[x].eventId%>?_method=DELETE">Delete</button>
                                        </form>
                                    </tr>
                                </form>
                                    <% } %>
                                
                            </tbody>

                        </table>
                    

                    <form method="get" action="/RA/CreateAnnouncementsRA">
                        <button type="submit">Create</button>
                    </form>

                </div>

                <%}%>
    </body>
    <%- include('partials/footer') -%>