<%- include('partials/header') -%>



        <body class="create-event-body-page">
            <main >
                <h1 class="create-event-text">Edit Announcement</h1>

                <div class="create-event-table-container">
                <Form id="createEvent" action = '/<%= event.eventId%>?_method=PUT' method = 'POST'>
                  <table class="create-event-table">
                    <tr>
                      <th>Title:</th>
                      <td colspan="3"><input type="text" class="event-title-td" id="eTitle" name="eTitle" value="<%= event.title%>" required></td>
                    </tr>
                    <tr>
                      <th>Type:</th>
                      <td><select type="text" id="eType" name="eType" value="<%= event.type%>" required>
                            <% if(event.type == 'Dorm'){%>
                                    <option value="Dorm" selected>Dorm</option>
                                    <option value="School">School</option>
                                    <option value="Floor">Floor</option>
                                <% }else if(event.type == 'School'){%>
                                    <option value="Dorm">Dorm</option>
                                    <option value="School"selected>School</option>
                                    <option value="Floor">Floor</option>
                            <%}else{%>
                                    <option value="Dorm">Dorm</option>
                                    <option value="School">School</option>
                                    <option value="Floor"selected>Floor</option>
                           <% }%></td>
                      <th>Color:</th>
                      <td><input type="color" id="eColor" name="eColor" value="<%= event.backgroundColor%>"></td>
                    </tr>
                    <%
                    let dateTime = event.start.split('T');

                    let end = event.end.split('T');


                    %>
                    <tr>
                      <th rowspan="2">Start Date:</th>
                      <td rowspan="2"><input type="date" id="edate" name="edate" value="<%= dateTime[0]%>"></td>
                      <th>Text Color:</th>
                      <td><select id="eTextcolor" name="eTextcolor" >
                            <% if(event.textColor == 'White'){%>
                                <option value="Black">Black</option>
                                <option value="White" selected>White</option>
                                <% }else{%>
                                    <option value="Black" selected>Black</option>
                                    <option value="White">White</option>
                            <%}%></td>
                    </tr>
                  <tr>
                    <th>Start Time:</th>
                    <td><input type="time" id="eSTime" name="eSTime"value="<%= dateTime[1]%>" ></td>

                  </tr>
                  <tr>
                    <th rowspan="2">End Date:</th>
                    <td rowspan="2"><input type="date" id="eRecurDateend" name="eRecurDateend" value="<%= event.endRecur%>"></td>
                    <th>End Time:</th>
                    <td><input type="time" id="eETime" name="eETime" value="<%= end[1]%>"></td>

                  </tr>
                  <tr>
                    <th>Repeat Event:</th>
                    <td><select id="eRepeat" name="eRepeat" >
                            <% if(event.repeat == 'Daily'){%>
                                <option value="None" >None</option>
                                <option value="Daily" selected>Daily</option>
                                <option value="Weekly">Weekly</option>
                                <% }else if(event.repeat == 'Weekly'){%>
                            <option value="None">None</option>
                            <option value="Daily">Daily</option>
                            <option value="Weekly" selected>Weekly</option>
                            <%}else{%>
                            <option value="None" selected>None</option>
                            <option value="Daily">Daily</option>
                            <option value="Weekly">Weekly</option>
                           <% }%></td>
                  </tr>
                  <tr >
                    <th class="event-description-row">Description:</th>
                    <td colspan="3"><textarea type="text" id="eDescription" name="eDescription" class="event-description-td"><%= event.description%></textarea></td>

                  </tr>

                  </table>
                  <div class="create-button-container">
                  <button type="submit" class="create-event-button" id="formButton" >Update Announcement</button>
                  </div>
                </Form>
                </div>

            </main>
        </body>
        <%- include('partials/footer') -%>
