<%- include('partials/header') -%>



    <body class="inboxRA-page-body">
        <main>
          <div class="inboxRA-container">
            <h1 class="inboxRA-text">Inbox</h1>
            <div class="unresolved">
                <h2 class="unresolved-text">Unresolved Messages</h2>
                <div class="unresolved-container">
                <table class="unresolved-table">
                  <colgroup>
                      <col class="room-number-col">
                      <col class="subject-col">
                      <col class="ra-assigned-col">
                      <col>
                    </colgroup>
                    <tr>
                    <th class="ra-assigned-th">Room #</th>
                    <th class="subject-th">Subject</th>
                    <th class="ra-assigned-th">RA Asssigned</th>
                    <th class="ra-assigned-th"> Edit </th>

                    <%if(user.role =='staff'){%>
                        <form>
                            <th class="ra-assigned-th"> Delete</th>
                        </form>
                        <%}%>
                    </tr>
                    <% for( var x=0; x < unresmess.length; x++){ %>
                        <tr>
                            <td class="roomno-td">
                                <%= unresmess[x].roomId %>
                            </td>
                            <td>
                                <%= unresmess[x].subject %>
                            </td>
                            <td class="ra-assigned-td">
                                <% if(unresmess[x].TA==null||unresmess[x].TA=='' ) {%>
                                    <input type="checkbox" name="status" disabled="disabled">
                                    <% }else{ %>
                                        <input type="checkbox" name="status" disabled="disabled" checked>
                                        <% } %>
                            </td>
                            <td class="status-td"> <a class="update-inbox-button" href="./message/<%=unresmess[x].messageId%>">Update</a></td>
                            <%if(user.role =='staff'){%>
                                <form>
                                    <td><button class="update-inbox-button" type="submit" formmethod="POST" formaction="./message/<%=unresmess[x].messageId%>/delete">Delete</button></td>
                                </form>
                                <%}%>
                        </tr>
                        <% } %>
                </table>
                </div>
            </div>
            <div class="resolved">
                <h2 class="unresolved-text">Resolved</h2>
                <div class="unresolved-container">
                <table class="unresolved-table">
                  <colgroup>
                    <col class="room-number-col">
                    <col class="subject-col">
                    <col class="ra-assigned-col">
                    <col>
                  </colgroup>
                  <tr>
                  <th class="ra-assigned-th">Room #</th>
                  <th class="subject-th">Subject</th>
                  <th class="ra-assigned-th">RA Asssigned</th>
                  <th class="ra-assigned-th"> Edit </th>
                  <%if(user.role =='staff'){%>
                    <form>
                        <th class="ra-assigned-th"> Delete</th>
                    </form>
                    <%}%>
                  </tr>

                        <% for( var x=0; x < resmess.length; x++){ %>

                                <tr>
                                    <td class="roomno-td">
                                        <%= resmess[x].roomId %>
                                    </td>
                                    <td>
                                        <%= resmess[x].subject %>
                                    </td>
                                    <td class="ra-assigned-td">
                                        <% if(resmess[x].TA==null || resmess[x].TA=='' ) {%>
                                            <input type="checkbox" name="status" disabled="disabled">
                                            <% }else{ %>
                                                <input type="checkbox" name="status" disabled="disabled" checked>
                                                <% } %>
                                    </td>
                                    <td class="status-td"> <a class="update-inbox-button" href="./message/<%=resmess[x].messageId%>">Update</a></td>
                                    <%if(user.role =='staff'){%>
                                        <form>
                                        <td><button type="submit" formmethod="POST" formaction="./message/<%=resmess[x].messageId%>/delete">Delete</button></td>
                                    </form>
                                        <%}%>
                                </tr>
                            <% } %>

                </table>
                </div>

                </div>
                </div>
        </main>
    </body>
    <%- include('partials/footer') -%>
