<%- include('partials/header') -%>

    <%- include('partials/navigation') -%>

        <body>
            <main>
                <div class="connections">
                    <h2> Ted's Connections </h2>

                    <% if(events.connections.length==0){ %>
                        <h3>No available connections, please add one from the connections page or make your own</h3>
                        <%}else {%>
                            <form method="POST" class="savedconnectform">
                                <table class="savedConnections">
                                    <thead>
                                        <tr>
                                            <th> Connection</th>
                                            <th> Type of Tour </th>
                                            <th> Hosted By </th>
                                            <th> Going? </th>
                                            <th> Make changes </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%for(var i=0; i< events.connections.length; i++){%>
                                            <tr>

                                                <td>
                                                    <%= events.connections[i].eventName %>
                                                </td>
                                                <td>
                                                    <%= events.connections[i].eventType %>
                                                </td>
                                                <td>
                                                    <%= events.connections[i].hostedby %>
                                                </td>
                                                <td>
                                                    <%= events.connections[i].rsvp %>
                                                </td>

                                                <td>
                                                    <input type="hidden" name="viewconnection"
                                                        value="<%= events.connections[i]._id %>" />

                                                    <button type="submit"
                                                        formaction="/member/connection/<%= events.connections[i]._id %>"
                                                        class="update">Update</button>
                                                    <button type="submit"
                                                        formaction="/member/loggedin/connection/delete" class="delete"
                                                        name="connectionID"
                                                        value="<%= events.connections[i]._id %>">Delete</button>
                                                </td>
                                            </tr>
                                            <% } %>

                                    </tbody>
                                </table>
                            </form>
                            <% } %>
                </div>
            </main>
        </body>
        <%- include('partials/footer') -%>