<%- include('partials/header') -%>

    <body class="announcement-body-page">
        <main>
          <div class="createstudent-container">
          <h1 class="create-event-text">Update Student</h1>
            <Form id="createEvent" action='../updatestudent/<%= student.userId %>' method='POST'>
                <table class="create-student-table">
                    <tr>
                        <th>First Name:</th>
                        <td><input type="text" id="fName" name="fName" value="<%=student.fName %>" required></td>
                    </tr>
                    <tr>
                        <th>Last Name:</th>
                        <td><input type="text" id="lName" name="lName" value="<%=student.lName %>" required></td>
                    </tr>
                    <tr>
                        <th>UNCC Email:</th>
                        <td><input type="email" id="email" pattern=".+@uncc.edu" name="email" value="<%=student.email %>" required></td>
                    </tr>
                    <tr>
                        <th>Room Number:</th>
                        <td><input type="text" id="roomID" name="roomID" value="<%=student.roomId %>" required></td>

                    </tr>
                    <tr>
                        <th>Role:</th>

                        <td class="create-student-role"><select id="role" name="role" required>
                            <% if(student.role == 'staff'){%>
                                <option value="staff" selected>Staff</option>
                                <option value="RA">RA</option>
                                <option value="Student">Student</option>
                            <% }else if(student.role == 'RA'){%>
                                <option value="staff">Staff</option>
                                <option value="RA" selected>RA</option>
                                <option value="Student">Student</option>
                        <%}else{%>
                            <option value="staff">Staff</option>
                            <option value="RA">RA</option>
                            <option value="Student" selected>Student</option>
                       <% }%>
                        </td>
                    </tr>

                </table>
                  <div class="create-button-container">
                  <button class="create-student-button" type="submit" id="formButton" >Update Student</button>
                  </div>
            </Form>
            </div>

        </main>
    </body>
    <%- include('partials/footer') -%>
