<%- include('partials/header') -%>

    

        <body>
            <main>
                <h1>View Message</h1>
                <form id="ViewMessage" method="POST" action="../updatemessage/<%= message.messageId%>?_method=PUT">

                    <%if(message.anonymous){%>
                        <label for="messagesender"> Room: <%= message.roomId %> </label>
                    <%}else{%>
                        <label for="messagesender"> From: <%= name.fName + " " + name.lName %> </label>
                    <%}%>

                    <label for="messagesubject"> Subject:<%= message.subject %></label>

                    <label for="messagedetails"> Details: <%= message.message %></label>

                    <label for="messageRA"> RA:</label>
                    <input type="text" id="messageRA" name="messageRA" value="<%= message.TA %>">

                    <input type="checkbox" id="resolved" name="resolved" value="1">
                    <label for="resolved"> Resolved </label>
                    <button type="submit"  id="formButton" >Update Message</button>
                </form>

            </main>
        </body>
        <%- include('partials/footer') -%>