<%- include('partials/header') -%>



    <body class="announcement-body-page">
        <main>

          <div class="viewstudents-container">
            <h1 class="create-event-text">View Students</h1>
            <table class="viewstudents-info">
                <tr>
                   <th>First Name</th>
                   <th>Last Name</th>
                   <th>Email</th>
                   <th>Role</th>
                   <th>Room ID</th>
                </tr>

                    <% for( var x=0; x < students.length; x++){ %>
                        <tr>
                            <td> <%=students[x].fName %></td>
                            <td> <%=students[x].lName %></td>
                            <td> <%=students[x].email %></td>
                            <td> <%=students[x].role %></td>
                            <td> <%=students[x].roomId %></td>
                            <td> <a class="update-viewstudents" href="./updatestudent/<%=students[x].userId%>">Update</a></td>
                        </tr>
                        <% } %>

            </table>
            <div class="viewstudent-container-button">
            <a class="viewstudent-button" href="./newstudent/">Add a new student</a>
            </div>
            </div>

        </main>
    </body>
    <%- include('partials/footer') -%>
